<div style="display: flex;">
  <div style="background-color: #8B0000;">
    <span style="font-family: verdana_hand;">verdana_hand</span>,
    <span style="font-family: Darks Calibri Remix;">Darks Calibri Remix</span>,
    <span style="font-family: Helv Children;">Helv Children</span>
  </div>
  <div style="background-color: #FFFFFF;">
    <span style="font-family: verdana_hand;">verdana_hand</span>,
    <span style="font-family: Darks Calibri Remix;">Darks Calibri Remix</span>,
    <span style="font-family: Helv Children;">Helv Children</span>
  </div>
  <div style="background-color: #000000;">
    <span style="font-family: verdana_hand;">verdana_hand</span>,
    <span style="font-family: Darks Calibri Remix;">Darks Calibri Remix</span>,
    <span style="font-family: Helv Children;">Helv Children</span>
  </div>
  <div style="background-color: #D2691E;">
    <span style="font-family: verdana_hand;">verdana_hand</span>,
    <span style="font-family: Darks Calibri Remix;">Darks Calibri Remix</span>,
    <span style="font-family: Helv Children;">Helv Children</span>
  </div>
  <div style="background-color: #006400;">
    <span style="font-family: verdana_hand;">verdana_hand</span>,
    <span style="font-family: Darks Calibri Remix;">Darks Calibri Remix</span>,
    <span style="font-family: Helv Children;">Helv Children</span>
  </div>
</div>
<hr>
<div style="display: flex;">
  <div style="background-color: #FFC0CB;">
    <span style="font-family: Arial Black;">Arial Black</span>, 
    <span style="font-family: Tahoma;">Tahoma</span>, 
    <span style="font-family: Wingdings;">Wingdings</span>.
  </div>
  <div style="background-color: #FFFFE0;">
    <span style="font-family: Arial Black;">Arial Black</span>, 
    <span style="font-family: Tahoma;">Tahoma</span>, 
    <span style="font-family: Wingdings;">Wingdings</span>.
  </div>
  <div style="background-color: #00FFFF;">
    <span style="font-family: Arial Black;">Arial Black</span>, 
    <span style="font-family: Tahoma;">Tahoma</span>, 
    <span style="font-family: Wingdings;">Wingdings</span>.
  </div>
  <div style="background-color: #7FFFD4;">
    <span style="font-family: Arial Black;">Arial Black</span>, 
    <span style="font-family: Tahoma;">Tahoma</span>, 
    <span style="font-family: Wingdings;">Wingdings</span>.
  </div>
  <div style="background-color: #FFA500;">
    <span style="font-family: Arial Black;">Arial Black</span>, 
    <span style="font-family: Tahoma;">Tahoma</span>, 
    <span style="font-family: Wingdings;">Wingdings</span>.
  </div>
</div>
<hr>
<div style="display: flex;">
  <div style="background-color: #FFA07A;">Palatino, Bookman, Garamond.</div>
  <div style="background-color: #ADD8E6;">Palatino, Bookman, Garamond.</div>
  <div style="background-color: #F0E68C;">Palatino, Bookman, Garamond.</div>
  <div style="background-color: #FFD700;">Palatino, Bookman, Garamond.</div>
  <div style="background-color: #FFB6C1;">Palatino, Bookman, Garamond.</div>
</div>
<hr>
<div style="display: flex;">
  <div style="background-color: #DDA0DD;">Times, New Century Schoolbook, Century Gothic.</div>
  <div style="background-color: #FFFFFF;">Times, New Century Schoolbook, Century Gothic.</div>
  <div style="background-color: #000000;">Times, New Century Schoolbook, Century Gothic.</div>
  <div style="background-color: #D2691E;">Times, New Century Schoolbook, Century Gothic.</div>
  <div style="background-color: #8B008B;">Times, New Century Schoolbook, Century Gothic.</div>
</div>
<hr>
<div style="display: flex;">
  <div style="background-color: #FFA500;">Baskerville, Goudy Old Style, Rockwell.</div>
  <div style="background-color: #FFF0F5;">Baskerville, Goudy Old Style, Rockwell.</div>
  <div style="background-color: #9400D3;">Baskerville, Goudy Old Style, Rockwell.</div>
  <div style="background-color: #F8F8FF;">Baskerville, Goudy Old Style, Rockwell.</div>
  <div style="background-color: #D3D3D3;">Baskerville, Goudy Old Style, Rockwell.</div>
</div>
<hr>
<div style="display: flex;">
  <div style="background-color: #F5F5DC;">Lucida Console, Consolas, Monaco.</div>
  <div style="background-color: #ADD8E6;">Lucida Console, Consolas, Monaco.</div>
  <div style="background-color: #E6E6FA;">Lucida Console, Consolas, Monaco.</div>
  <div style="background-color: #9400D3;">Lucida Console, Consolas, Monaco.</div>
  <div style="background-color: #8B008B;">Lucida Console, Consolas, Monaco.</div>
</div>
<hr>
<div style="display: flex;">
  <div style="background-color: #FFA07A;">Fuente desconocida</div>
  <div style="background-color: #ADD8E6;">Fuente desconocida</div>
  <div style="background-color: #90EE90;">Fuente desconocida</div>
  <div style="background-color: #DDA0DD;">Fuente desconocida</div>
  <div style="background-color: #8B008B;">Fuente desconocida</div>
</div>