<h2>Paleta de colores</h2>
<div style="display: flex;">
  <div style="background-color: #DDA0DD; width: 10vw; height: 10vh;">
  </div>
  <div style="background-color: #FFFFFF; width: 10vw; height: 10vh;">
  </div>
  <div style="background-color: #000000; width: 10vw; height: 10vh;">
  </div>
  <div style="background-color: #D2691E; width: 10vw; height: 10vh;">
  </div>
  <div style="background-color: #8B008B; width: 10vw; height: 10vh;">
  </div>
</div>
<hr>
<h2>Juego de fuentes tipográficas</h2>
<p>Las siguientes listas de fuentes tipográficas se complementan entre sí, además están ordenadas poniendo 
  primero la fuente principal, después la fuente secundaria, 
  y al último la fuente complementaria. La fuente principal
  se utiliza para el título principal y los encabezados, la
   fuente secundaria se utiliza para el cuerpo del texto 
   y los subtítulos, y la fuente complementaria se utiliza 
   para cualquier elemento gráfico o elemento de diseño, 
   como tablas o infografías.</p>
<h3>Fuentes Modernas</h3>
<ol>
  <li><span style="font-family: Futura">Futura</span>, <span style="font-family: Arial">Arial</span>, <span style="font-family: Calibri">Calibri</span></li>
  <li><span style="font-family: Helvetica">Helvetica</span>, <span style="font-family: Lato">Lato</span>, <span style="font-family: Verdana">Verdana</span></li>
  <li><span style="font-family: Gotham">Gotham</span>, <span style="font-family: Open Sans">Open Sans</span>, <span style="font-family: Roboto">Roboto</span></li>
  <li><span style="font-family: Proxima Nova">Proxima Nova</span>, <span style="font-family: Avenir">Avenir</span>, <span style="font-family: Tahoma">Tahoma</span></li>
  <li><span style="font-family: DIN">DIN</span>, <span style="font-family: Montserrat">Montserrat</span>, <span style="font-family: Trebuchet MS">Trebuchet MS</span></li>
  <li><span style="font-family: Bebas Neue">Bebas Neue</span>, <span style="font-family: Raleway">Raleway</span>, <span style="font-family: Varela Round">Varela Round</span></li>
  <li><span style="font-family: Brandon Grotesque">Brandon Grotesque</span>, <span style="font-family: Lato">Lato</span>, <span style="font-family: Merriweather">Merriweather</span></li>
  <li><span style="font-family: Apercu">Apercu</span>, <span style="font-family: Poppins">Poppins</span>, <span style="font-family: Work Sans">Work Sans</span></li>
  <li><span style="font-family: Akkurat">Akkurat</span>, <span style="font-family: Merriweather Sans">Merriweather Sans</span>, <span style="font-family: Lato">Lato</span></li>
  <li><span style="font-family: Frutiger">Frutiger</span>, <span style="font-family: Arial">Arial</span>, <span style="font-family: Tahoma">Tahoma</span></li>
  <li><span style="font-family: Neue Haas Grotesk">Neue Haas Grotesk</span>, <span style="font-family: Open Sans">Open Sans</span>, <span style="font-family: Roboto Condensed">Roboto Condensed</span></li>
  <li><span style="font-family: Univers">Univers</span>, <span style="font-family: Calibri">Calibri</span>, <span style="font-family: Verdana">Verdana</span></li>
  <li><span style="font-family: Myriad Pro">Myriad Pro</span>, <span style="font-family: Helvetica">Helvetica</span>, <span style="font-family: Arial">Arial</span></li>
  <li><span style="font-family: Avenir Next">Avenir Next</span>, <span style="font-family: Lato">Lato</span>, <span style="font-family: Trebuchet MS">Trebuchet MS</span></li>
  <li><span style="font-family: Museo Sans">Museo Sans</span>, <span style="font-family: Proxima Nova">Proxima Nova</span>, <span style="font-family: Roboto">Roboto</span></li>
  <li><span style="font-family: Futura PT">Futura PT</span>, <span style="font-family: Open Sans">Open Sans</span>, <span style="font-family: Verdana">Verdana</span></li>
  <li><span style="font-family: Source Sans Pro">Source Sans Pro</span>, <span style="font-family: Lato">Lato</span>, <span style="font-family: Arial">Arial</span></li>
  <li><span style="font-family: Montserrat Alternates">Montserrat Alternates</span>, <span style="font-family: Roboto">Roboto</span>, <span style="font-family: Calibri">Calibri</span></li>
  <li><span style="font-family: Arial Narrow">Arial Narrow</span>, <span style="font-family: Helvetica">Helvetica</span>, <span style="font-family: Verdana">Verdana</span></li>
  <li><span style="font-family: Corbel">Corbel</span>, <span style="font-family: Trebuchet MS">Trebuchet MS</span>, <span style="font-family: Calibri">Calibri</span></li>
</ol>
<h3>Fuentes Informales</h3>
<ol>
  <li><span style="font-family: 'Roboto';">Roboto</span> - <span style="font-family: 'Open Sans';">Open Sans</span> - <span style="font-family: 'Lato';">Lato</span></li>
  <li><span style="font-family: 'Montserrat';">Montserrat</span> - <span style="font-family: 'Arial';">Arial</span> - <span style="font-family: 'Raleway';">Raleway</span></li>
  <li><span style="font-family: 'Proxima Nova';">Proxima Nova</span> - <span style="font-family: 'Helvetica';">Helvetica</span> - <span style="font-family: 'Merriweather';">Merriweather</span></li>
  <li><span style="font-family: 'Oswald';">Oswald</span> - <span style="font-family: 'Verdana';">Verdana</span> - <span style="font-family: 'Playfair Display';">Playfair Display</span></li>
  <li><span style="font-family: 'Futura';">Futura</span> - <span style="font-family: 'Tahoma';">Tahoma</span> - <span style="font-family: 'Noto Sans';">Noto Sans</span></li>
  <li><span style="font-family: 'Gotham';">Gotham</span> - <span style="font-family: 'Trebuchet MS';">Trebuchet MS</span> - <span style="font-family: 'Lora';">Lora</span></li>
  <li><span style="font-family: 'Bebas Neue';">Bebas Neue</span> - <span style="font-family: 'Times New Roman';">Times New Roman</span> - <span style="font-family: 'Roboto Slab';">Roboto Slab</span></li>
  <li><span style="font-family: 'Dosis';">Dosis</span> - <span style="font-family: 'Calibri';">Calibri</span> - <span style="font-family: 'Quicksand';">Quicksand</span></li>
  <li><span style="font-family: 'Aperçu';">Aperçu</span> - <span style="font-family: 'Georgia';">Georgia</span> - <span style="font-family: 'Merriweather Sans';">Merriweather Sans</span></li>
  <li><span style="font-family: 'Nexa Rust';">Nexa Rust</span> - <span style="font-family: 'Courier New';">Courier New</span> - <span style="font-family: 'Poppins';">Poppins</span></li>
  <li><span style="font-family: 'Quattrocento';">Quattrocento</span> - <span style="font-family: 'Lucida Sans';">Lucida Sans</span> - <span style="font-family: 'Arimo';">Arimo</span></li>
  <li><span style="font-family: 'Exo';">Exo</span> - <span style="font-family: 'Verdana';">Verdana</span> - <span style="font-family: 'Lato';">Lato</span></li>
  <li><span style="font-family: 'Poppins';">Poppins</span> - <span style="font-family: 'Arial';">Arial</span> - <span style="font-family: 'Merriweather';">Merriweather</span></li>
  <li><span style="font-family: 'Raleway';">Raleway</span> - <span style="font-family: 'Helvetica';">Helvetica</span> - <span style="font-family: 'Open Sans';">Open Sans</span></li>
  <li><span style="font-family: 'Lato';">Lato</span> - <span style="font-family: 'Trebuchet MS';">Trebuchet MS</span> - <span style="font-family: 'Roboto';">Roboto</span></li>
  <li><span style="font-family: 'Open Sans';">Open Sans</span> - <span style="font-family: 'Times New Roman';">Times New Roman</span> - <span style="font-family: 'Montserrat';">Montserrat</span></li>
  <li><span style="font-family: 'Merriweather';">Merriweather</span> - <span style="font-family: 'Calibri';">Calibri</span> - <span style="font-family: 'Bebas Neue';">Bebas Neue</span></li>
  <li><span style="font-family: 'Playfair Display';">Playfair Display</span> - <span style="font-family: 'Aperçu';">Aperçu</span> - <span style="font-family: 'Dosis';">Dosis</span></li>
  <li><span style="font-family: 'Noto Sans';">Noto Sans</span> - <span style="font-family: 'Gotham';">Gotham</span> - <span style="font-family: 'Exo';">Exo</span></li>
  <li><span style="font-family: 'Lora';">Lora</span> - <span style="font-family: 'Quattrocento';">Quattrocento</span> - <span style="font-family: 'Poppins';">Poppins</span></li>
</ol>